extends page_aside

block page
    .page__title #{i18n.__("about.title")}
    hr
    p #{i18n.__("about.introduction")}
    hr
    p #{i18n.__("about.content.0")}
    hr
    p #{i18n.__("about.content.1")}
    hr
    p #{i18n.__("about.content.2")}