doctype html
//HTML
html
  //HEAD
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title= "Esteban's Website"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css")
  //BODY
  body.dark
    //HEADER
    block header
    header
      //NAV
      nav.sidenav
        i.fas.fa-bars.btn-show
        ul.menu
          a(href="/") #{i18n.__("layout.home")}
          a(href="/projects") #{i18n.__("layout.projects")}
          a(href= "/about") #{i18n.__("layout.about")}
          block menu
          if (session.user)
            a(href= "/users/logout") logout

          i.fas.fa-times.btn-close
      a(href="/", class="header-title") #{i18n.__("layout.title")}
      .container
        .container__toggle-btn
         .container__toggle-btn__inner-cercle
    if (errors)
      //FLASH MESSAGES
      .flash-messages.errors
        ul
          for error in errors
            li #{error}
    
    
    //CONTENT
    block content
    //FOOTER
    block foot
      footer
        .me
          a(href="/about/me") Est&eacute;ban SOUBIRAN
        .lang
          for lang in langs
            a(href="/lang/" + lang class="lang__btn") #{lang}
    //SCRIPTS
    block scripts      
      script(src="/javascripts/toggleBtn.min.js")
      script(src="/javascripts/url.min.js")
      script(src="/javascripts/sidenav.min.js")

      

