extends page_aside

block page
    .page__title #{i18n.__("me.title")}
    hr
    p #{i18n.__("me.introduction")}
    hr
    p #{i18n.__("me.content.0")}
    hr
    p #{i18n.__("me.content.1")}
    hr
    p #{i18n.__("me.content.2")}
    hr
    p #{i18n.__("me.content.3")}