extends layout.pug

block menu
 if (session.role === 'admin')
    a(href= "/projects/post/create") create

block content
    main.posts 
        for post in posts
            article.card
                .card__thumb
                    a(href=post.url)
                        img(src="https://via.placeholder.com/370x235")
                    .card__date
                        .card__date__day #{post.day}
                        .card__date__month #{post.month}

                .card__body
                    .card__category
                        for val in post.genre
                            a(href=val.url) #{val.name}
                    h2.card__title
                            a(href=post.url) #{post.title}
                    .card__subtitle #{post.subtitle}
                    .card__description #{post.description}

                .card__footer
                    .icon.icon--time #{post.timeToRead} min
                    a(href=post.username.url, class="card__writer") #{post.username.name}
